Write a for loop to print numbers from 1 to 20.

Print all even numbers between 1 and 50 using a for loop.

Print the squares of numbers from 1 to 10.

Given a list of names = ["Ram", "Shyam", "Radha", "Mohan"], use a for loop to print each name in uppercase.

Write a program using a for loop to print the multiplication table of 7.

Given a list of numbers [12, 45, 23, 67, 89, 34], use a for loop to print only numbers greater than 40.

Write a program to count how many vowels are in the string "programming", using a for loop.

Given a dictionary: marks = {"Math": 90, "Science": 85, "English": 88}, use a for loop to print each subject with its marks.

Write a program to find the sum of digits of a number (e.g., 753 → 15) using a for loop.

Write a program to print all elements of a tuple in reverse order using a for loop.

Print the 5 pattern using a for loop

Write a for loop to generate the multiplication tables from 1 to 5.

Use nested for loops to print a 5×5 multiplication matrix.

Write a program to print all prime numbers between 10 and 50 using a for loop.

Write a program to check if a string is a palindrome using a for loop (e.g., "radar" → Yes).

Write a program to find the factorial of a number using a for loop.

Write a program that prints the Fibonacci sequence up to 50 using a for loop.

Given a list ["apple", "banana", "mango", "grapes"], use a for loop to find which word has the maximum length.

Write a program that uses a for loop to reverse a string without using slicing.

Write a program using a for loop to calculate the sum of this series: 1^2 + 2^2 + 3^2 + ... + n^2 (for n = 10).

Write a program to flatten a nested list using a for loop. Example: [[1,2], [3,4], [5]] → [1,2,3,4,5]

Write a for loop to print numbers from 1 to 20.

In [2]:
for i in range(1, 20 + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Print all even numbers between 1 and 50 using a for loop.

In [3]:
for i in range(1, 50 + 1):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Print the squares of numbers from 1 to 10.

In [4]:
for i in range(1, 10 + 1):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

Given a list of names = ["Ram", "Shyam", "Radha", "Mohan"], use a for loop to print each name in uppercase.

In [5]:
names = ["Ram", "Shyam", "Radha", "Mohan"]
for i in names:
    uc = i.upper()
    print(uc)

RAM
SHYAM
RADHA
MOHAN

Write a program using a for loop to print the multiplication table of 7.

In [6]:
for i in range(1, 10 + 1):
    print(f"7 x {i} = {7 * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Given a list of numbers [12, 45, 23, 67, 89, 34], use a for loop to print only numbers greater than 40.

In [7]:
num = [12, 45, 23, 67, 89, 34]
for i in num:
    if i > 40:
        print(i)

45
67
89

Write a program to count how many vowels are in the string "programming", using a for loop.

In [2]:
word = "programming"
vowels = ['a','e','i','o','u']
count = 0
for i in word:
    lc = word.lower()
    if i in vowels:
        count += 1
print(count)

3

Given a dictionary: marks = {"Math": 90, "Science": 85, "English": 88}, use a for loop to print each subject with its marks.

In [5]:
marks = {"Math": 90, "Science": 85, "English": 88}
for i, j in marks.items():
    print(i, ":", j)

Math : 90
Science : 85
English : 88

Write a program to find the sum of digits of a number (e.g., 753 → 15) using a for loop.

In [7]:
#how???

Write a program to print all elements of a tuple in reverse order using a for loop.

In [9]:
fruits = ("Apple", "Banana", "Cherry")
for i in fruits[::-1]:
    print(i)

Cherry
Banana
Apple

Print the 5 pattern using a for loop

In [11]:
for i in range(1, 5 + 1):
    print("*")
print()

*
*
*
*
*

In [12]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
for i in range(5 + 1):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
for i in range(5 + 1, 1, -1):
    for j in range(i):
        print("*", end = " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *

In [19]:
for i in range(5 + 1):
    for j in range(i):
        print("*", end = " ")
    print()
for i in range(5 + 1, 0, -1):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Write a for loop to generate the multiplication tables from 1 to 5.

In [22]:
for i in range(1, 5 + 1):
    for i in range(1, 10 + 1):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0

1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0

1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0

1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0

1 x 0 = 0
2 x 0 = 0
3 x 0 = 0
4 x 0 = 0
5 x 0 = 0
6 x 0 = 0
7 x 0 = 0
8 x 0 = 0
9 x 0 = 0
10 x 0 = 0

make a calculator using the coinditional statement.

In [3]:
a = float(input("enter a number: "))
b = float(input("enter another number: "))
choice = int(input("make a choice of the desired operation: "
                  "1. add "
                  "2. sub "
                  "3. mult "
                  "4. div: "))
if choice == 1:
    print(a + b)
elif choice == 2:
    print(a - b)
elif choice == 3:
    print(a * b)
elif choice == 4:
    print(a / b)
else:
    print(f"{choice} ia an invalid choice")

enter a number:  12
enter another number:  33.01
make a choice of the desired operation: 1. add 2. sub 3. mult 4. div:  1

45.01

write a code for an atm machince using the while loop concept

In [1]:
pin = 1234
balance = 1000  
attempts = 0

user_pin = int(input("enter the pin: "))
while user_pin != pin:
    attempts += 1
    if attempts == 3:
        print("too many wrong attempts!")
        exit()
        user_pin = int(input("wrong pin, try again: "))
print("login successful")

while True:
    print("ATM operations menu: \n"
         "1. check balance \n"
         "2. deposit \n"
         "3. withdraw \n"
         "4. exit \n")
    choice = int(input("make a choice (1 - 4): "))
    if choice == 1:
        print(f"you have {balance} on your bank account")

    elif choice == 2:
        deposit = float(input("enter the amount you want to deposit: "))
        balance += deposit
        print(f"amount {deposit} deposited to your account. Current balance: {balance}")

    elif choice == 3:
        withdraw = int(input("enter the amount to withdraw: "))
        if withdraw > balance:
            print("insufficient balance")
        else:
            balance -= withdraw
            print(f"amount {withdraw} withdrawn from the account. current balance: {balance}")

    elif choice == 4:
        print("thatnk you")
        break

    else:
        print("invalid choice")

enter the pin:  1234

login successful
ATM operations menu:
1. check balance
2. deposit
3. withdraw
4. exit

make a choice (1 - 4):  1

you have 1000 on your bank account
ATM operations menu:
1. check balance
2. deposit
3. withdraw
4. exit

make a choice (1 - 4):  2
enter the amount you want to deposit:  123123123

amount 123123123.0 deposited to your account. Current balance: 123124123.0
ATM operations menu:
1. check balance
2. deposit
3. withdraw
4. exit

make a choice (1 - 4):  4

thatnk you

oops concept

In [3]:
class car:
    def __init__(self, color, model):
        self.color = color
        self.model = model

    def show_details(self):
        print(f"car model: {self.model} \ncar color: {self.color}")

car1 = car("abc", "red")
car1.show_details()

car model: red
car color: abc

zomato voucher

In [5]:
print("types of voucher\n 1. bronze\n 2. silver\n 3. Platinum\n")
mrp = float(input("enter the MRP of your purchase: "))
choice = int(input("enter the voucher you want to use: (1, 2, 3)"))
if choice == 1:
    print("you can avail discount upto 10%.")
    bro = mrp - (mrp * 0.1)
    print(bro)
elif choice == 2:
    print("you can avail discount upto 25%.")
    sil = mrp - (mrp * 0.25)
    print(sil)
elif choice == 3:
    print("you can avail discount upto 50%.")
    gol = mrp - (mrp * 0.5)
    print(gol)
else:
    print(f"MRP: {mrp}")

types of voucher
 1. bronze
 2. silver
 3. Platinum

enter the MRP of your purchase:  1233
enter the voucher you want to use: (1, 2, 3) 1

you can avail discount upto 10%.
1109.7

એક રીક્ષા વાળા ની જોડે વાતાઁ લાપ છે.
૫ કિમી ના ૨૦₹
અને એની ઊપર પર કિમી ના ૫₹
જો મોલ જવુ છે તો ૧૫૦₹
અને બસસ્ટેન્ડ ના ૨૦૦₹

તો આનો કોડ લખો

In [ ]:
dist = float(input("enter the distance you want: "))
print("enter the destination you wish to go: ")