# For Loop with Lists

1. Iterate over a list of numbers and print each element.

In [2]:
l1 = [1,2,3,4,5,6,7,8,9,0,11,22,33,44,55,66,77,5,42,5,4,3,4,43,2,34,7]
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
0
11
22
33
44
55
66
77
5
42
5
4
3
4
43
2
34
7

2. Square each number in a list and store the result in a new list.

In [3]:
L2 = [1,2,3,4,5,6,78,9]
for num in L2:
    print(num*num)

1
4
9
16
25
36
6084
81

3. Filter out all even numbers from a list using a for loop.

In [4]:
L3 = [12,3,4,54,65,677,687,8,565,2,3,43,56,55342,1]
for i in L3:
    if i%2 == 0:
        print(i)

12
4
54
8
2
56
55342

4. Loop through a list and replace negative numbers with 0.

In [12]:
L4 = [-2,23,4,33,-2,2,3,34,-4,2,-4,54,3,-2,3,3,4]
print(L4)
L4_mod = []
for i in L4:
    if i < 0:
        L4_mod.append(0)
    else:
        L4_mod.append(i)
print(L4_mod)

[-2, 23, 4, 33, -2, 2, 3, 34, -4, 2, -4, 54, 3, -2, 3, 3, 4]
[0, 23, 4, 33, 0, 2, 3, 34, 0, 2, 0, 54, 3, 0, 3, 3, 4]

5. Iterate using range(len(list)) and modify list elements in-place.

In [15]:
name = ["A", "B", "C", "D", "E", "F"]
for i in range(len(name)):
    name[i] = name[i].lower()
print(name)

['a', 'b', 'c', 'd', 'e', 'f']

6. Loop through a list of strings and count how many have length > 5.

In [18]:
count = 0
L6 = ["alpha", "bravo", "charlie", "delta", "epsilon", "Alanee", "Joeele", "Ronine", "nevine"]
for i in L6:
    if len(i) > 5:
        count = count + 1
print(count)

6

# For Loop with Tuples

7. Given a list of tuples (name, age), print all names of people older than 30.

In [22]:
people = [
    ("Emma", 28),
    ("Noah", 34),
    ("Olivia", 22),
    ("Liam", 45),
    ("Ava", 31),
    ("William", 19),
    ("Sophia", 27),
    ("Mason", 52),
    ("Isabella", 38),
    ("James", 41),
    ("Mia", 25),
    ("Benjamin", 33),
    ("Charlotte", 29),
    ("Jacob", 47),
    ("Amelia", 24)
]

for i in people:
    if i[1] >30:
        print(i[0])

Noah
Liam
Ava
Mason
Isabella
James
Benjamin
Jacob

8. Iterate through a tuple of numbers and find the sum of all elements.

In [23]:
numbers = (1, 2, 3, 4, 5)
sum = 0
for i in numbers:
    sum += i
print(sum)

15

9. Create a list of all second elements from a list of 2-item tuples.

In [5]:
L9 = [("a",1), ("b",2), ("c",3), ("d",4), ("e",5), ("f",6)]
newL = []
for i in L9:
    newL.append(i[1])
print(newL)

[1, 2, 3, 4, 5, 6]

# For Loop with Sets

10. Loop through a set and print each unique item.

In [7]:
fruits = {"apple", "banana", "cherry", "orange", "kiwi", "apple"}
for i in fruits:
    print(i)

banana
apple
orange
cherry
kiwi

11. Given a list with duplicates, use a set and for loop to print only unique items.

In [12]:
list11 = [1,11,1,1,2,3,4,3,2,1,2,4,7,6]
setlist11 = set(list11)
for i in setlist11:
    print(i)
print(setlist11)

1
2
3
4
6
7
11
{1, 2, 3, 4, 6, 7, 11}

12. Write a loop to find the intersection of two sets manually (no &).

In [27]:
set21 = {1,2,3,4,5,6,7,8,6,5,22,33,54,65,34,23,12,22,65}
set22 = {1,54,2,4,6,78,5,4,32,6,54,23,69,56,2,33,4,24,2,5,88,2}
listA = {}
for i in set22:
    if i in set21:
        print(i)
        
print(listA)
print(set(listA))

1
2
33
4
5
6
54
23
{}
set()

13. Iterate over a set and count how many strings start with a vowel.

In [41]:
set1 = {"Apple", "Banana", "cherry", "date", "epsilon", "figma"}
#set1 = "my name is nevin"
VOWEL = {"A", "E", "I", "O", "U", "a", "e", "i", "o", "u"}
count = 0
for i in set1:
    if i[0] in VOWEL:
        count += 1
print(count)

2

14. Given a dictionary of products and prices, print each key and value.

In [33]:
products = {
    "apple": 0.99,
    "banana": 0.59,
    "orange": 0.79,
    "milk": 3.49,
    "bread": 2.99,
    "eggs": 2.49,
    "cheese": 4.99,
    "chicken": 7.99,
    "rice": 1.99,
    "pasta": 1.29
}

for i in products:
    print(f"{i} - {products[i]}")

apple - 0.99
banana - 0.59
orange - 0.79
milk - 3.49
bread - 2.99
eggs - 2.49
cheese - 4.99
chicken - 7.99
rice - 1.99
pasta - 1.29

15. Loop through a dictionary and find the most expensive item.

In [57]:
products = {
    "apple": 0.99,
    "banana": 0.59,
    "orange": 0.79,
    "milk": 3.49,
    "bread": 2.99,
    "eggs": 2.49,
    "cheese": 4.99,
    "chicken": 7.99,
    "rice": 1.99,
    "pasta": 1.29
}

exp = ""
hprice = 0

for mmm, price in products.items():
    if price > hprice:
        hprice = price
        exp = mmm
print(f"{exp} - {hprice}")

chicken - 7.99

16. Create a new dictionary with values increased by 10% using a for loop.

In [65]:
products = {
    "apple": 0.99,
    "banana": 0.59,
    "orange": 0.79,
    "milk": 3.49,
    "bread": 2.99,
    "eggs": 2.49,
    "cheese": 4.99,
    "chicken": 7.99,
    "rice": 1.99,
    "pasta": 1.29
}

newDict = {}
for item, price in products.items():
    nprice = price + (price*0.1)
    newDict[item] = nprice
    print(f"{item} - {nprice}")

apple - 1.089
banana - 0.649
orange - 0.869
milk - 3.8390000000000004
bread - 3.289
eggs - 2.7390000000000003
cheese - 5.489
chicken - 8.789
rice - 2.189
pasta - 1.419

17. From a dictionary of names and ages, print only those whose age > 30.

In [72]:
dict17 = {"A": 23, "B": 43, "C": 29, "D": 45, "E": 65}
for name, age in dict17.items():
    if age > 30:
        print(f"{name} - {age}")

B - 43
D - 45
E - 65

18. Convert a dictionary to a list of tuples using a for loop.

In [75]:
dict17 = {"A": 23, "B": 43, "C": 29, "D": 45, "E": 65}
listOfTuples = list(dict17.items())
print(listOfTuples)

[('A', 23), ('B', 43), ('C', 29), ('D', 45), ('E', 65)]

# Mixed Advanced Thinking

19. Write a for loop that groups words by their first letter using a dictionary.

Example: ["apple", "banana", "apricot", "blueberry"] â†’ {'a': [...], 'b': [...]}

20. From a list of dictionaries (e.g., product records), use a loop to:

Filter only those with price > 13000

Store those entries in a new list

In [79]:
products = [
    {"id": 1, "name": "Laptop", "category": "Electronics", "price": 75000, "stock": 10},
    {"id": 2, "name": "Smartphone", "category": "Electronics", "price": 45000, "stock": 25},
    {"id": 3, "name": "Book", "category": "Stationery", "price": 500, "stock": 100},
    {"id": 4, "name": "Backpack", "category": "Accessories", "price": 1200, "stock": 40},
    {"id": 5, "name": "Tablet", "category": "Electronics", "price": 32000, "stock": 15},
    {"id": 6, "name": "Desk Chair", "category": "Furniture", "price": 6800, "stock": 5},
    {"id": 7, "name": "Pen Drive", "category": "Electronics", "price": 850, "stock": 60},
    {"id": 8, "name": "Shoes", "category": "Apparel", "price": 3000, "stock": 20},
    {"id": 9, "name": "T-shirt", "category": "Apparel", "price": 700, "stock": 50},
    {"id": 10, "name": "Monitor", "category": "Electronics", "price": 15500, "stock": 8},
]

for i in products:
    print(i)

{'id': 1, 'name': 'Laptop', 'category': 'Electronics', 'price': 75000, 'stock': 10}
{'id': 2, 'name': 'Smartphone', 'category': 'Electronics', 'price': 45000, 'stock': 25}
{'id': 3, 'name': 'Book', 'category': 'Stationery', 'price': 500, 'stock': 100}
{'id': 4, 'name': 'Backpack', 'category': 'Accessories', 'price': 1200, 'stock': 40}
{'id': 5, 'name': 'Tablet', 'category': 'Electronics', 'price': 32000, 'stock': 15}
{'id': 6, 'name': 'Desk Chair', 'category': 'Furniture', 'price': 6800, 'stock': 5}
{'id': 7, 'name': 'Pen Drive', 'category': 'Electronics', 'price': 850, 'stock': 60}
{'id': 8, 'name': 'Shoes', 'category': 'Apparel', 'price': 3000, 'stock': 20}
{'id': 9, 'name': 'T-shirt', 'category': 'Apparel', 'price': 700, 'stock': 50}
{'id': 10, 'name': 'Monitor', 'category': 'Electronics', 'price': 15500, 'stock': 8}