Example 1: Print the first 10 natural numbers using for loop.

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Example 2: Python program to print all the even numbers within the given range.

In [6]:
r1 = int(input("enter the 1st num of the range: "))
r2 = int(input("enter the 2nd num of the range: "))

for i in range(r1, r2 + 1):
    if i % 2 == 0:
        print(i)

enter the 1st num of the range:  11
enter the 2nd num of the range:  20

12
14
16
18
20

Example 3: Python program to calculate the sum of all numbers from 1 to a given number.

In [9]:
n = int(input("enter a number: "))
total = 0
for i in range(1, n+1):
    total = total + i
print(total)

enter a number:  2

3

Example 4: Python program to calculate the sum of all the odd numbers within the given range.

In [11]:
r1 = int(input("enter the 1st num of the range: "))
r2 = int(input("enter the 2nd num of the range: "))
sum = 0
for i in range(r1, r2 + 1):
    if i%2 != 0:
        sum = sum + i
print(sum)

enter the 1st num of the range:  1
enter the 2nd num of the range:  3

4

Example 5: Python program to print a multiplication table of a given number

In [13]:
N = int(input("enter a number: "))
for i in range(1, 11):
    print(f"{N} * {i} = {n*i}")

enter a number:  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Example 6: Python program to display numbers from a list using a for loop.

In [14]:
list = [1,2,3,567,5,3,24,2.4,2,4,5,1]
for i in list:
    print(i)

1
2
3
567
5
3
24
2.4
2
4
5
1

Example 7: Python program to count the total number of digits in a number.

In [19]:
no = str(input("enter a number: "))
print(len(no))

enter a number:  12123123123334242341234234

26

Example 8: Python program to check if the given string is a palindrome.

Example 9: Python program that accepts a word from the user and reverses it.

Example 10: Python program to check if a given number is an Armstrong number

Example 11: Python program to count the number of even and odd numbers from a series of numbers.

Example 12: Python program to display all numbers within a range except the prime numbers.

Example 13: Python program to get the Fibonacci series between 0 to 50.

Example 14: Python program to find the factorial of a given number.

Example 15: Python program that accepts a string and calculates the number of digits and letters.

Example 16: Write a Python program that iterates the integers from 1 to 25.