# TABLES using for-loop

In [1]:
num = int(input("enter a number"))
for i in range(1,11):
    print(f"{i} * {num} = {i*num}")

enter a number 2

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

# if - else programs

In [2]:
name = ["nevin", "alan", "joel", "ronin", "ronald", "prince", "tejas", "aksh"]
for i in name:
    print(f" hello {i}")

 hello nevin
 hello alan
 hello joel
 hello ronin
 hello ronald
 hello prince
 hello tejas
 hello aksh

In [3]:
string = "hello world"
for i in string:
    print(i)

h
e
l
l
o

w
o
r
l
d

# PATTERNS USING FOR LOOP

In [9]:
rows = int(input("enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(i):
        print(".", end = " ")
    print()

enter the number of rows:  11

.
. .
. . .
. . . .
. . . . .
. . . . . .
. . . . . . .
. . . . . . . .
. . . . . . . . .
. . . . . . . . . .
. . . . . . . . . . .

# CLASSWORK

1. fibonacci series - 1,1,2,3,5,8,...

2. FACTORIAL

In [7]:
num = int(input("enter a number: "))
fact = 1
for i in range(1, num + 1):
    fact = fact * i
print(fact)

enter a number:  69

171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000

Pattern:
1
12
123
1234
12345

In [13]:
num1 = int(input("enter a number: "))
for i in range(1, num1 + 1):
    for j in range(1, i+1):
        print(j, end = " ")
    print()

enter a number:  13

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13

In [15]:
#try to find patterns (all unique)