# example 1

In [3]:
cart = ["bottle", "maggie", "cheese", "kit-kat", "cloth"]

In [4]:
for i in cart:
    print(f"my item is {i}")

my item is bottle
my item is maggie
my item is cheese
my item is kit-kat
my item is cloth

# example 2

In [5]:
for i in range(5):
    print(f"my range {i}")

my range 0
my range 1
my range 2
my range 3
my range 4

# example 3

In [7]:
for i in range(3 , 9, 2):
    print(f"my range {i}")

my range 3
my range 5
my range 7

# example 4

In [8]:
for char in "apple":
    print(char)

a
p
p
l
e

# example 5

In [10]:
for i in range(1, 90):
    if i % 2 == 0:
        print(i, " is even number")
    else:
        print(i, " is odd.")

1  is odd.
2  is even number
3  is odd.
4  is even number
5  is odd.
6  is even number
7  is odd.
8  is even number
9  is odd.
10  is even number
11  is odd.
12  is even number
13  is odd.
14  is even number
15  is odd.
16  is even number
17  is odd.
18  is even number
19  is odd.
20  is even number
21  is odd.
22  is even number
23  is odd.
24  is even number
25  is odd.
26  is even number
27  is odd.
28  is even number
29  is odd.
30  is even number
31  is odd.
32  is even number
33  is odd.
34  is even number
35  is odd.
36  is even number
37  is odd.
38  is even number
39  is odd.
40  is even number
41  is odd.
42  is even number
43  is odd.
44  is even number
45  is odd.
46  is even number
47  is odd.
48  is even number
49  is odd.
50  is even number
51  is odd.
52  is even number
53  is odd.
54  is even number
55  is odd.
56  is even number
57  is odd.
58  is even number
59  is odd.
60  is even number
61  is odd.
62  is even number
63  is odd.
64  is even number
65  is odd.
66  is even number
67  is odd.
68  is even number
69  is odd.
70  is even number
71  is odd.
72  is even number
73  is odd.
74  is even number
75  is odd.
76  is even number
77  is odd.
78  is even number
79  is odd.
80  is even number
81  is odd.
82  is even number
83  is odd.
84  is even number
85  is odd.
86  is even number
87  is odd.
88  is even number
89  is odd.

# example 6

In [14]:
name = ["harshil", "karan", "nevin", "avni", "dev"]

for friend in name:
    if friend == "karan":
        print(f"gift nahi dunga - {friend}")
    else:
        print(f"gift dunga - {friend}")

gift dunga - harshil
gift nahi dunga - karan
gift dunga - nevin
gift dunga - avni
gift dunga - dev

In [ ]:
# samosa - 
"""
spicy level needed - rating for spices (1, 2, 3, 4, 5)

"""

# task 1

In [15]:
marks = [56,67,78,89,99,98,76,54,34,33,23,14,41]

for i in marks:
    if i < 33:
        print(f"{i} is fail")
    elif i >= 33 and i < 45:
        print(f"{i} is pass with grade F")
    elif i >= 45 and i < 55:
        print(f"{i} is pass with grade E")
    elif i >= 55 and i < 65:
        print(f"{i} is pass with grade D")
    elif i >= 65 and i < 75:
        print(f"{i} is pass with grade C")
    elif i >= 75 and i < 85:
        print(f"{i} is pass with grade B")
    elif i >= 85 and i <= 100:
        print(f"{i} is pass with grade A")
    else:
        print(f"{i} is not a valid marks")

56 is pass with grade D
67 is pass with grade C
78 is pass with grade B
89 is pass with grade A
99 is pass with grade A
98 is pass with grade A
76 is pass with grade B
54 is pass with grade E
34 is pass with grade F
33 is pass with grade F
23 is fail
14 is fail
41 is pass with grade F

# example 7

In [18]:
even_num = []
odd_num = []
for i in range(1, 90):
    if i % 2 == 0:
        even_num.append(i)
    else:
        odd_num.append(i)

print("even number: ", even_num)
print("odd number: ", odd_num)

even number:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]
odd number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89]