# basic level

Write a for loop to print numbers from 1 to 10.

In [3]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Loop through a list of names and print each name with "Hello".

In [4]:
name = ["nevin", "alan", "joel", "ronin", "ronald", "prince", "tejas", "aksh"]
for i in name:
    print(f" hello {i}")

 hello nevin
 hello alan
 hello joel
 hello ronin
 hello ronald
 hello prince
 hello tejas
 hello aksh

Print only even numbers from 1 to 50 using a for loop.

In [5]:
for i in range(1, 51):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Loop through a string and print each character.

In [7]:
string = "hello world"
for i in string:
    print(i)

h
e
l
l
o

w
o
r
l
d

Loop through a list using range(len(list)) instead of directly iterating.

In [10]:
name = ["nevin", "alan", "joel", "ronin", "ronald", "prince", "tejas", "aksh"]

for i in range(len(name)):
    print(f"{i + 1}. {name[i]}")

1. nevin
2. alan
3. joel
4. ronin
5. ronald
6. prince
7. tejas
8. aksh

Given a list of numbers, print the square of each number.

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,99,88,77,66,55,44,33,22,11,12]
for i in numbers:
    print(i * i)

1
4
9
16
25
36
49
64
81
9801
7744
5929
4356
3025
1936
1089
484
121
144

Write a for loop that calculates the sum of the first 100 natural numbers.

In [13]:
total = 0
for i in range(1,101):
    total = total + i

print(total)

5050