# basic level

Write a for loop to print numbers from 1 to 10.

In [3]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Loop through a list of names and print each name with "Hello".

In [4]:
name = ["nevin", "alan", "joel", "ronin", "ronald", "prince", "tejas", "aksh"]
for i in name:
    print(f" hello {i}")

 hello nevin
 hello alan
 hello joel
 hello ronin
 hello ronald
 hello prince
 hello tejas
 hello aksh

Print only even numbers from 1 to 50 using a for loop.

In [5]:
for i in range(1, 51):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Loop through a string and print each character.

In [7]:
string = "hello world"
for i in string:
    print(i)

h
e
l
l
o

w
o
r
l
d

Loop through a list using range(len(list)) instead of directly iterating.

In [10]:
name = ["nevin", "alan", "joel", "ronin", "ronald", "prince", "tejas", "aksh"]

for i in range(len(name)):
    print(f"{i + 1}. {name[i]}")

1. nevin
2. alan
3. joel
4. ronin
5. ronald
6. prince
7. tejas
8. aksh

Given a list of numbers, print the square of each number.

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,99,88,77,66,55,44,33,22,11,12]
for i in numbers:
    print(i * i)

1
4
9
16
25
36
49
64
81
9801
7744
5929
4356
3025
1936
1089
484
121
144

Write a for loop that calculates the sum of the first 100 natural numbers.

In [13]:
total = 0
for i in range(1,101):
    total = total + i

print(total)

5050

#  Intermediate – Lists, Dictionaries, and Tuples

Given a list of prices, use a for loop to apply a 10% discount to each and store it in a new list.

In [6]:
prices = [20, 35, 67, 55, 87, 2224, 13, 4444, 4343, 999]
new_price = []
discount = 0.1
for price in prices:
    discounted_price = price - (price * discount)
    new_price.append(discounted_price)

print(new_price)

[18.0, 31.5, 60.3, 49.5, 78.3, 2001.6, 11.7, 3999.6, 3908.7, 899.1]

Iterate through a dictionary and print the key and value.

In [7]:
dict_data = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
for i in dict_data:
    print(i, dict_data[i])

A 1
B 2
C 3
D 4
E 5

Loop through a list of tuples and print the first element of each tuple.

In [11]:
tuple_list = [(1, 'Hello'), (2, 'world'), (3, 'meet'), (4, 'Mission'), (5, 'AI')]

for item in tuple_list:
    print(item[0], item, item[1])

1 (1, 'Hello') Hello
2 (2, 'world') world
3 (3, 'meet') meet
4 (4, 'Mission') Mission
5 (5, 'AI') AI

Create a list of all even numbers between 1 and 100 using list comprehension.

In [17]:
even = [i for i in range(2, 101, 2)]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

You’re given a string. Count how many times each character appears using a dictionary and a for loop.