Read an integer temperature in °C and print "Heat Alert" if temp≥40, "Warm" if 30–39, "Pleasant" if 20–29, "Cool" if 10–19, else "Cold".

In [3]:
tempC = float(input("enter a temperature in degree cel.: "))
if tempC >= 40:
    print ("Heat Alert")
elif tempC in range(30, 39 + 1):
    print ("Warm")
elif tempC in range(20, 29 + 1):
    print ("Pleasant")
elif tempC in range(10, 19 + 1):
    print ("Cool")
else:
    print ("Cold")

enter a temperature in degree cel.:  25

Pleasant

Given purchase_amount and membership ("none"/"silver"/"gold"), print final_amount after applying 0%, 5%, or 10% discount respectively, and an extra ₹100 off only if membership is "gold" and purchase_amount>5000.

In [11]:
purchase_amount = float(input("enter purchase amount: "))
membership = int(input("enter the type of membership from the below options:\n"
                        "1. None\n"
                        "2. Silver\n"
                        "3. Gold\n"))
if membership == 1:
    print("your final amount is ", purchase_amount)
elif membership == 2:
    print("you can avail upto 5%")
    final_amount = purchase_amount - (purchase_amount * 0.05)
    print("your final Amount is ", final_amount)
elif membership == 3:
    print("you can avail gold membership with 10% discount")
    if purchase_amount > 5000:
        print("you can  have 100 rupees off your purchace of more than 5000 rupees")
        final_amount = purchase_amount - (purchase_amount * 0.1) - 100
    else:
        final_amount = purchase_amount - (purchase_amount * 0.1)
else:
    print("invalid input")

enter purchase amount:  123322
enter the type of membership from the below options:
1. None
2. Silver
3. Gold
 2

you can avail upto 5%
your final Amount is  117155.9

Input three sides a, b, c; print "Invalid Triangle" if triangle inequality fails else print "Equilateral"/"Isosceles"/"Scalene" using nested conditions.

In [12]:
a = int(input("enter side 1: "))
b = int(input("enter side 2: "))
c = int(input("enter side 3: "))
if a == b and b == c and a == c:
    print("equilateral triangle")
elif a == b and c > a + b:
    print("isoscales triangle")
elif (a != b and b != c and c != a) and (a + b > c or a + c > b or b + c > a):
    print("scalene triangle")
else:
    print("invalid triangle")

enter side 1:  1
enter side 2:  3
enter side 3:  2

scalene triangle

Read hour (0–23) and minute (0–59); print "Peak Fare" if time is 08:00–10:00 or 18:00–20:00, "Night Surcharge" if 22:00–05:59, else "Normal Fare".

In [13]:
hour = int(input("enter hour (0 - 23): "))
if hour not in range(0, 23 + 1):
    print("hour should be in range 0 and 23")
minute = int(input("enter minute (0 - 59): "))
if minute not in range(0, 59 + 1):
    print("hour should be in range 0 and 59")
if (hour in range(8, 9 + 1) and minutute in range(0, 59)) or (hour == 10 and minute == 0):
    print("peak fare")
elif (hour in range(18, 19 + 1) and minutute in range(0, 59)) or (hour == 20 and minute == 0):
    print("peak fare")
elif (hour in range(22, 23 + 1) or hour in range(0, 5 + 1) and minute in range(0, 59 + 1)):
    print("night surcharge")
else:
    print("normal fare")

enter hour (0 - 23):  2
enter minute (0 - 59):  56

night surcharge

Given marks in three subjects (m1, m2, m3), print "Fail" if any<40, else print "Pass with Distinction" if average≥85, else "Pass".

In [17]:
m1 = float(input("enter mark 1: "))
if m1 not in range(0, 100 + 1):
    print("invalid marks")
m2 = float(input("enter mark 2: "))
if m2 not in range(0, 100 + 1):
    print("invalid marks")
m3 = float(input("enter mark 3: "))
if m3 not in range(0, 100 + 1):
    print("invalid marks")
avg = (m1 + m2 + m3)/ 3
if (m1 or m2 or m3) < 40:
    print("fail")
elif avg in range(85, 100 + 1):
    print("pass with distinction")
else:
    print("pass")

enter mark 1:  90
enter mark 2:  90
enter mark 3:  90

pass with distinction

Read a string s; print "Missing" if s is empty after stripping or s.lower() in {"na","n/a","null","none","-"}, else "OK".

In [22]:
s = input("enter a string: ")
if s == "":
    print("missing")
else:
    print("OK")

enter a string:  nqe

OK

Given income and cibil_score, print "Eligible" if income≥300000 and cibil≥750, "Eligible with Guarantor" if income≥300000 and 650≤cibil<750, else "Not Eligible".

In [23]:
income = float(input("enter your income: "))
cibil_score = int(input("enter your cibil score: "))
if (income >= 300000) and (cibil_score >= 750):
    print("eligible")
elif (income >= 300000) and (cibil_score in range(650, 750)):
    print("eligible with guarantor")
else:
    print("not eligible")

enter your income:  12000
enter your cibil score:  700

not eligible

Read weight_kg and distance_km; compute shipping_cost as 50 base +20 if weight>5 +30 if distance>100, then cap at 200, and print the final cost.

weight_kg = float(input("enter weight: "))
distance_km = float(input("enter distance: "))
#computing shipping cost
if weight_kg > 5:
    shipping_cost = 50 + 30
elif distance > 100

Input base_price and category ("food","medicine","goods","exempt"); apply GST: 5% for "food", 0% for "medicine" or "exempt", 18% for "goods" and others, then print final price rounded to 2 decimals.

In [3]:
base_price = float(input("enter the amount: "))
category = int(input("select the category:\n"
                    "1. food\n"
                    "2. Medicine\n"
                    "3. goods\n"
                    "4. exempt"))
if category == 1:
    final_price = base_price + (0.05 * base_price)
    print(final_price)
elif category == 2 or category == 4:
    final_price = base_price + (0.0 * base_price)
    print(final_price)
elif category == 3:
    final_price = base_price + (0.18 * base_price)
    print(final_price)
else:
    print("invalid input")

enter the amount:  12312
select the category:
1. food
2. Medicine
3. goods
4. exempt 1

12927.6

Read username and password; print "Login Success" only if username=="admin" and password=="Secr3t!" else "Access Denied".

In [5]:
usr = "nevin"
passwd = "123123123"

username = str(input("enter username: "))


if username == usr:
    password = str(input("enter your password: "))
    if password == passwd:
        print("login successful")
    else:
        print("incorrect password")
else:
    print("incorrect username")

enter username:  nevin
enter your password:  12312

incorrect password

Read km and destination ("mall","station","airport","other"); fare = (50,100,200,80 base respectively) + 10*km; if fare>300 reduce by 50 else if fare>150 reduce by 30 only if user types "yes" for negotiation, then print final fare.

In [7]:
km = float(input("enter distance: "))
destination = int(input("enter a destination: \n"
                       "1. mall\n"
                       "2. station\n"
                       "3. airport\n"
                       "4. other\n"))
if destination == 1:
    fare = 50 + (10 * km)
    print(fare)
elif destination == 2:
    fare = 100 + (10 * km)
    print(fare)
elif destination == 3:
    fare = 200 + (10 * km)
    print(fare)
elif destination == 4:
    fare = 80 + (10 * km)
    print(fare)
else:
    print("Invalid Input")

enter distance:  2131
enter a destination:
1. mall
2. station
3. airport
4. other
 1

21360.0

Input units of electricity; bill = 0 if units==0 else 100 fixed + 5 per unit for first 100 + 7 per unit for next 100 + 10 per unit beyond 200; print bill.

units = float(input("enter units of electricity: "))
if units == 0:
    bill = 0
    print("bill: ", bill)
else:
    if units


Read age, is_student ("yes"/"no"), day ("weekday"/"weekend"); movie ticket: base ₹200 on weekend else ₹150; apply 20% off if age≤12 or age≥60; apply additional 10% off if is_student=="yes"; print payable amount.

In [10]:
age = int(input("Enter age: "))
if age < 1:
    print("Age cannot be less than 1")
else:
    is_student = input("Are you a student? (yes/no): ").lower()
    day = input("Weekend or weekday? ").lower()

    weekend_base = 200
    weekday_base = 150

    if age <= 12 or age >= 60:
        if day == 'weekend' and is_student == 'yes':
            amount = weekend_base - (weekend_base * 0.2) - (weekend_base * 0.1)
        elif day == 'weekday' and is_student == 'yes':
            amount = weekday_base - (weekday_base * 0.2) - (weekday_base * 0.1)
        elif day == 'weekend':
            amount = weekend_base - (weekend_base * 0.2)
        elif day == 'weekday':
            amount = weekday_base - (weekday_base * 0.2)
        else:
            print("Invalid day")
            amount = None
    else:
        if day == 'weekend':
            amount = weekend_base
        elif day == 'weekday':
            amount = weekday_base
        else:
            print("Invalid day")
            amount = None

    if amount is not None:
        print("Ticket price:", amount)

Enter age:  12
Are you a student? (yes/no):  yes
Weekend or weekday?  weekday

Ticket price: 105.0

Given three numbers a, b, c; print the median value (the one in the middle) without sorting.

In [11]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if (a >= b and a <= c) or (a <= b and a >= c):
    median = a
elif (b >= a and b <= c) or (b <= a and b >= c):
    median = b
else:
    median = c

print("The median is:", median)

Enter first number:  2
Enter second number:  5
Enter third number:  23

The median is: 5.0

Read two timestamps h1:m1 and h2:m2; print which comes earlier ("T1", "T2", or "Same") using nested conditionals.

In [12]:
h1 = int(input("Enter hour for T1: "))
m1 = int(input("Enter minute for T1: "))
h2 = int(input("Enter hour for T2: "))
m2 = int(input("Enter minute for T2: "))

if h1 < h2:
    print("T1")   
elif h1 > h2:
    print("T2")   
else:
    if m1 < m2:
        print("T1")
    elif m1 > m2:
        print("T2")
    else:
        print("Same")

Enter hour for T1:  12
Enter minute for T1:  3
Enter hour for T2:  14
Enter minute for T2:  5

T1