Write a for loop to print numbers from 1 to 20.

Print all even numbers between 1 and 50 using a for loop.

Print the squares of numbers from 1 to 10.

Given a list of names = ["Ram", "Shyam", "Radha", "Mohan"], use a for loop to print each name in uppercase.

Write a program using a for loop to print the multiplication table of 7.

Given a list of numbers [12, 45, 23, 67, 89, 34], use a for loop to print only numbers greater than 40.

Write a program to count how many vowels are in the string "programming", using a for loop.

Given a dictionary: marks = {"Math": 90, "Science": 85, "English": 88}, use a for loop to print each subject with its marks.

Write a program to find the sum of digits of a number (e.g., 753 → 15) using a for loop.

Write a program to print all elements of a tuple in reverse order using a for loop.

Print the 5 pattern using a for loop

Write a for loop to generate the multiplication tables from 1 to 5.

Use nested for loops to print a 5×5 multiplication matrix.

Write a program to print all prime numbers between 10 and 50 using a for loop.

Write a program to check if a string is a palindrome using a for loop (e.g., "radar" → Yes).

Write a program to find the factorial of a number using a for loop.

Write a program that prints the Fibonacci sequence up to 50 using a for loop.

Given a list ["apple", "banana", "mango", "grapes"], use a for loop to find which word has the maximum length.

Write a program that uses a for loop to reverse a string without using slicing.

Write a program using a for loop to calculate the sum of this series: 1^2 + 2^2 + 3^2 + ... + n^2 (for n = 10).

Write a program to flatten a nested list using a for loop. Example: [[1,2], [3,4], [5]] → [1,2,3,4,5]

Write a for loop to print numbers from 1 to 20.

In [2]:
for i in range(1, 20 + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Print all even numbers between 1 and 50 using a for loop.

In [3]:
for i in range(1, 50 + 1):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Print the squares of numbers from 1 to 10.

In [4]:
for i in range(1, 10 + 1):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

Given a list of names = ["Ram", "Shyam", "Radha", "Mohan"], use a for loop to print each name in uppercase.

In [5]:
names = ["Ram", "Shyam", "Radha", "Mohan"]
for i in names:
    uc = i.upper()
    print(uc)

RAM
SHYAM
RADHA
MOHAN

Write a program using a for loop to print the multiplication table of 7.

In [6]:
for i in range(1, 10 + 1):
    print(f"7 x {i} = {7 * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Given a list of numbers [12, 45, 23, 67, 89, 34], use a for loop to print only numbers greater than 40.

In [7]:
num = [12, 45, 23, 67, 89, 34]
for i in num:
    if i > 40:
        print(i)

45
67
89

Write a program to count how many vowels are in the string "programming", using a for loop.

In [2]:
word = "programming"
vowels = ['a','e','i','o','u']
count = 0
for i in word:
    lc = word.lower()
    if i in vowels:
        count += 1
print(count)

3

Given a dictionary: marks = {"Math": 90, "Science": 85, "English": 88}, use a for loop to print each subject with its marks.

In [5]:
marks = {"Math": 90, "Science": 85, "English": 88}
for i, j in marks.items():
    print(i, ":", j)

Math : 90
Science : 85
English : 88

Write a program to find the sum of digits of a number (e.g., 753 → 15) using a for loop.

In [7]:
#how???

Write a program to print all elements of a tuple in reverse order using a for loop.

In [9]:
fruits = ("Apple", "Banana", "Cherry")
for i in fruits[::-1]:
    print(i)

Cherry
Banana
Apple

Print the 5 pattern using a for loop

In [11]:
for i in range(1, 5 + 1):
    print("*")
print()

*
*
*
*
*

In [12]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
for i in range(5 + 1):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
for i in range(5 + 1, 1, -1):
    for j in range(i):
        print("*", end = " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *

In [ ]:
for i in range(5 + 1):
    for j in range(i):
        print("*", end = " ")
    print()