Print numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Print each character of the string "HELLO" using a for loop.

In [2]:
character = "HELLO"
for i in character:
    print(i)

H
E
L
L
O

Print the square of numbers from 1 to 5.

In [3]:
for i in range(1, 6):
    print(f"{i} * {i} = {i*i}")

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

Use a for loop to print only even numbers from 1 to 20.

In [4]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Given a list fruits = ["apple", "banana", "cherry"], print each fruit using a for loop.

In [5]:
fruits = ["apple", "banana", "cherry"] 
for i in fruits:
    print(i)

apple
banana
cherry

Print numbers from 10 to 1 in reverse using a for loop and range().

In [6]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

Given a list nums = [3, 4, 9, 12, 15, 20], print numbers divisible by 3 using a for loop.

In [7]:
nums = [3, 4, 9, 12, 15, 20]
for i in nums:
    if i % 3 == 0:
        print(i)

3
9
12
15

Print the multiplication table of 6 using a for loop.

In [8]:
num = 6
for i in range(1, 11):
    print(f"6 * {i} = {6*i}")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Write a for loop to count how many vowels are in the string "Python Programming".

In [9]:
string = "python programming"
count = 0
vowel = ['A','E','I','O','U','a','e','i','o','u']
for i in string:
    if i in vowel:
        count += 1
print(count)

4

Use nested for loops to print a 4x4 square pattern of *

In [10]:
for i in range(1, 5):
    for j in range(1, 5):
        print("*", end = "")
    print()

****
****
****
****

Write a program using a for loop to calculate the factorial of a number.

In [12]:
num = int(input("enter a number: "))
result = 1
for i in range(1, num + 1):
    result *= i
print(result)

enter a number:  3

6

From a list of names, print only those that start with a vowel.

In [14]:
NAME = ["aksh", "alan", "prince", "joel", "ronin"]
for i in NAME:
    if i[0] in "aeiouAEIOU":
        print(i)

aksh
alan

Use a for loop to print the first 10 terms of the Fibonacci series.

In [17]:
nterms = int(input("enter the number of series: "))
a = 0
b = 1
for i in range(nterms):
    print(a)
    temp = a
    a = b
    b = temp + b

enter the number of series:  10

0
1
1
2
3
5
8
13
21
34